@import url("../../../App.css");

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.grid-container .grid-card {
  min-height: 537px;
  max-width: 400px;
  box-shadow: 4px 4px 1px -1px rgba(182, 182, 182, 0.2);
  border-radius: 6px;
  background-color: var(--smoke-color);
  padding: 2.5rem;
  margin-bottom: 3rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-container .grid-card:hover {
  transition: all 500ms ease-in-out;
  transform: translate(-0.15rem, -0.15rem);
  box-shadow: 7px 7px 4px -4px rgba(97, 97, 97, 0.2);
}

.grid-container .grid-card .grid-card-title {
  font-size: 2.3rem;
  color: var(--title-primary-color);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 2rem;
  cursor: default;
}

.grid-container .grid-card .grid-card-text {
  font-size: 1rem;
  color: rgb(73, 73, 73) var(--text-black-color);
  margin-bottom: 2rem;
  cursor: default;
}

.grid-container .grid-card .grid-card-img {
  border-radius: 4px;
  filter: opacity(80%);
}

.grid-container .grid-card .grid-card-btn {
  background-color: var(--bg-button-color);
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

.grid-container .grid-card a .grid-card-btn {
  color: var(--smoke-color);
  text-decoration: none;
}

.grid-container .grid-card a:visited .grid-card-btn {
  color: var(--smoke-color);
  text-decoration: none;
  border: none;
}

.grid-container .grid-card .grid-card-btn:hover {
  background-color: var(--bg-button-hover-color);
}
