@import url("../../App.css");

.logo-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  scroll-behavior: smooth;
}

.box .navbar {
  background-color: var(--primary-color);
  min-height: 80px;
  box-shadow: none;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.box .navbar .navbar-toolbar {
  margin: auto 0;
  padding-left: 10px;
  padding-right: 10px;
}
.box .navbar .navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.05rem;
  font-family: inherit;
  cursor: default;
  margin-right: 1rem;
}

.box .navbar .navbar-links {
  margin-right: 0.5rem;
}
.navbar-links .nav-link {
  color: var(--smoke-color);
  text-decoration: none;
}

.navbar-links .nav-link:visited {
  text-decoration: none;
}

.navbar-links .nav-link.active {
  font-weight: bold;
}

.navbar-links .nav-link.active::after {
  content: "";
  height: 1.5px;
  background: var(--icon-color);
  display: block;
  margin-top: 0.2px;
}

.box .navbar .action-btn {
  color: var(--smoke-color);
}

.base-Popup-root {
  z-index: 999;
}

.navbar .MuiButtonBase-root {
  color: var(--smoke-color);
}

@media screen and (min-width: 320px) {
  .box .navbar .navbar-brand {
    font-size: 2em;
    margin-right: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .box .navbar .navbar-toolbar {
    padding-left: 20px;
    padding-right: 20px;
  }
  .box .navbar .navbar-toolbar {
    margin: auto 0;
    padding-right: 24px;
    padding-left: 24px;
  }

  .box .navbar .navbar-brand {
    margin-right: 0;
  }

  .box .navbar .navbar-links {
    margin-right: 1rem;
  }
}
