.box .navbar {
  background-color: #b39dbb;
  min-height: 80px;
  box-shadow: none;
}

.box .navbar .navbar-toolbar {
  margin: auto 0;
}

.box .navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 550;
  letter-spacing: 0.05rem;
}

.box .navbar .navbar-toolbar-btn {
  margin-right: 1rem;
}

.box a {
  text-decoration: none;
}

.box a:visited {
  color: inherit;
}

.box .navbar-toolbar-btn:hover {
  border-radius: 0.383rem;
}
