@import url("../../../App.css");

.grid-container-category {
  justify-content: center;
}

.grid-container-category .card-category {
  min-height: 20rem;
  height: auto;
  width: 20rem;
  box-shadow: 2px 2px 1px -1px rgba(78, 146, 220, 0.2),
    2px -2px 1px -1px rgba(78, 146, 220, 0.2),
    -2px 2px 1px -1px rgba(78, 146, 220, 0.2);

  border-radius: 6px;
  background-color: var(--smoke-color);
  padding: 2rem;
  margin: 1rem 0;
}

.grid-container-category .card-title-category {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: var(--title-black-color);
  cursor: default;
}

.grid-container-category .card-category .card-product-box {
  margin-top: 1rem;
}

.card-category .card-product-box {
  display: flex;
  justify-content: space-between;
}

.card-product-box .card-products {
  color: var(--text-black-color);
  cursor: default;
  width: 58%;
}

.card-category .card-product-box .card-product-actions {
  width: 4rem;
  display: flex;
  justify-content: space-around;
  width: 42%;
}

.card-category .card-product-box .card-product-actions .card-product-add-icon {
  color: var(--icon-color);
  cursor: pointer;
}

.card-category .card-product-box .card-product-actions .checked-icon {
  color: var(--text-black-color);
}

.card-category
  .card-product-box
  .card-product-actions
  .card-product-add-icon:hover {
  color: var(--icon-hover-color);
}

.card-category .card-product-box .card-product-delete-icon {
  color: var(--warning-light-color);
  cursor: pointer;
}

.card-category .card-product-box .card-product-delete-icon:hover {
  color: var(--warning-dark-color);
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 65px;
  font-size: 0.8rem;
  background-color: var(--tooltip-bg-color);
  color: var(--smoke-color);
  text-align: center;
  border-radius: 6px;
  padding: 0.5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posición del tooltip arriba del elemento */
  left: 50%;
  margin-left: -33px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%; /* Parte inferior del tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--tooltip-bg-color) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
