@import url("../../../App.css");

.modal .MuiBox-root {
  max-width: 200px;
  margin: 0 auto;
}

.top-add-form-modal {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.top-add-form-modal .top-add-form-modal-title {
  font-weight: bold;
  color: var(--second-color);
}

.top-add-form-modal .close-form-icon {
  cursor: pointer;
}

.top-add-form-modal .close-form-icon:hover {
  color: var(--primary-color);
}

.add-form .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: var(--title-primary-color);
  font-size: 1.05rem;
}

.add-form .css-1eed5fa-MuiInputBase-root-MuiInput-root.Mui-focused::after {
  border: 1px solid var(--second-color);
}

.add-form
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--second-color);
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: var(--text-black-color);
}

.css-10nakn3-MuiModal-root-MuiPopover-root-MuiMenu-root
  .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected:hover {
  background-color: var(--text-black-color);
}

.add-form .add-form-button {
  border-radius: 0.5rem;
  padding: 0.56434rem;
  font-weight: bold;
  background-color: var(--bg-button-color);
  color: var(--smoke-color);
}

.add-form .add-form-button:hover {
  background-color: var(--bg-button-hover-color);
}

@media screen and (min-width: 320px) {
  .modal .MuiBox-root {
    max-width: 280px;
  }
}

@media screen and (min-width: 500px) {
  .modal .MuiBox-root {
    max-width: 380px;
  }
}
